
/* ------------------------------
   Base layouts
------------------------------ */
@import "layouts/extends";

[class ^= "l_"] {
  @include grid-row();
  @extend %fullwidth;

  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 1rem 0;
  background-color: #eee;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.col {
  padding: 1.2em;
  box-sizing: border-box;
  border: 1px solid #eee;
  font-size: 1.2em;
  text-align:center;

  p {
    margin-bottom: 0;
  }
}


.l_1c {
  @extend %bg_1;
  @extend %l_1c;
}

.l_2c {
  @extend %bg_2;
  @extend %l_2c;
}

.l_3c_A {
  @extend %bg_3;
  @extend %l_3c_A;
}

.l_3c_B {
  @extend %bg_4;
  @extend %l_3c_B;
}

.l_4c_A {
  @extend %bg_5;
  @extend %l_4c_A;
}

.l_4c_B {
  @extend %bg_6;
  @extend %l_4c_B;
}

.l_4c_C {
  @extend %bg_7;
  @extend %l_4c_C;
}
.l_5c_A{
  @extend %bg_8;
  @extend %l_5c_A;
}
.l_5c_B{
  @extend %bg_9;
  @extend %l_5c_B;
}
.l_5c_C{
  @extend %bg_10;
  @extend %l_5c_C;
}
.l_5c_D{
  @extend %bg_11;
  @extend %l_5c_D;
}


%bg_1 {  background-color: #ef9a9a ; }
%bg_2 {  background-color: #f48fb1 ; }
%bg_3 {  background-color: #ce93d8 ; }
%bg_4 {  background-color: #b39ddb ; }
%bg_5 {  background-color: #9fa8da ; }
%bg_6 {  background-color: #90caf9 ; }
%bg_7 {  background-color: #80cbc4 ; }
%bg_8 {  background-color: #e2c178 ; }
%bg_9 {  background-color: #bbbec5 ; }
%bg_10 {  background-color: #3C4E47 ; }
%bg_11 {  background-color: #1294A6 ; }



