@import "typography/config";
@import "typography/functions";
@import "typography/mixins";
@import "typography/extends";


// ------------------------------------------------------------------------------


html {
  font: em($font_size, 16) $primary_font_family;
  line-height: baseline($font_size);
  color: $primary_text;
  // @media #{$mobile} {
  //   -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  // }
}

h1 {
  @extend %headings_1;
}

h2 {
  @extend %headings_2;
}

h3 {
  @extend %headings_3;
}

h4 {
  @extend %headings_4;
}

h5 {
  @extend %headings_5;
}

h6 {
   @extend %headings_6;
}

// Standard body text support
// --------------------------------
p {
  margin-bottom: baseline-margin($font_size);
  text-indent: 0;

  font-size: em($large_point_size);
  line-height: baseline($large_point_size);
}

b {
  &:after {
    content: " ";
  }
}

a {
  color: $href_color;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
  &:visited {
    color: $href_color;
  }
}