$bravo_gray:scale-color($alpha_gray, $lightness: 10%) !default;
$charlie_gray:scale-color($alpha_gray, $lightness: 20%) !default;
$delta_gray:scale-color($alpha_gray, $lightness: 30%) !default;
$echo_gray:scale-color($alpha_gray, $lightness: 40%) !default;
$fox_gray:scale-color($alpha_gray, $lightness: 50%) !default;
$golf_gray:scale-color($alpha_gray, $lightness: 60%) !default;
$hotel_gray:scale-color($alpha_gray, $lightness: 70%) !default;
$india_gray:scale-color($alpha_gray, $lightness: 80%) !default;