/////// Semantic variables ///////
// Las variables semánticas deben estar siemre asociadas a valores abstractos, 
// nunca asociamos valores semánticos con valores semánticos
// -----------------------------------------------------------------------------

/////// Configuración por defecto para formularios /////// 
// -----------------------------------------------------------------------------
$alert_background_color:       			$alpha_color;

$input_disabled:               			$bravo_gray;
$input_disabled_bkg:           			lighten($input_disabled, 75%);
$input_disabled_border:        			lighten($input_disabled, 50%);
$input_disabled_text:          			lighten($input_disabled, 50%);
                                
$form_field_background_color:  			$white;
$form_field_focus_color:       			$white;
$form_field_fail_bkg:          			$alpha_color_juliet;
                                
$form_field_border:            			$charlie_gray;
$form_field_border_fail:       			$alpha_color_echo;
$form_field_focus_border_color:			$charlie_gray;

$form_field_text_fail:         			$alpha_color_echo;
$form_label_color:             			$alpha_gray;
$optional_field_text_color:    			$delta_gray;
$instructional_text:           			$charlie_gray;
$placeholder_text:             			$hotel_gray;
$inline_alert_bkg_color:       			$alpha_color_delta;
$inline_alert_text_color:      			$white;

$form_field_text:                     	$primary_text;



// Configuración por defecto del mixin 'standard_rounded_border'
// -----------------------------------------------------------------------------
$standard_border_color: 				$border_color;		// border color por defecto



// Configuración por defecto del mixin 'standard_hr'
// -----------------------------------------------------------------------------
$standard_hr_color: 					$delta_gray;		// color por defecto