doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/dist/css/style.css')
        title AngularJS Lazy Loading Demo
    body
        h1 #{locals.foo}
        #wrap
            #header
                .navbar.navbar-inverse.navbar-fixed-top
                    .navbar-inner
                        .container
                            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.brand(href='/') AngularJS Lazy Loading Demo
                            .nav-collapse.collapse
                                ul.nav
                                    li.active
                                        a(href='#/') Home
                                    li
                                        a(href='#about/me') About
                                    li
                                        a(href='#contact') Contact
            // Main Content Container
            #main.container(ng-view='')
            #push
        #footer
            .container
                p.muted.credit
                    | Footer
                    | .
        script(type='text/javascript', src='/bower_components/requirejs/require.js', data-main='/dist/scripts/bootstrap.js')
