//overlay properties
$modal-overlay-background: rgb(0, 0, 0);
$modal-overlay-opacity: 0.8;

//modals sizes

$modal-small-height: 10rem;
$modal-small-width: 50%;

$modal-medium-height: 30rem;
$modal-medium-width: 70%;

$modal-large-height: 50rem;
$modal-large-width: 90%;

//close button properties

$modal-close-button-size : 2rem;
$modal-close-button-background: #605F61;
$modal-close-button-color: #fff;