%modal-overlay{
  z-index: 10001;
  opacity: $modal-overlay-opacity;
  background-color: $modal-overlay-background;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  @include animation( opacity-modal-overlay 0.5s linear);
}
%modal-container{
  z-index: 10002;
  background: white;
  vertical-align: middle;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  transform: translateY(-50%) translateX(-50%);
  @include animation( scale-modal-container 0.5s ease-out);
  &.-small{
    min-height: $modal-small-height;
    width: $modal-small-width;
  }
  &.-medium{
    min-height: $modal-medium-height;
    width: $modal-medium-width;
  }
  &.-large{
    min-height: $modal-large-height;
    width: $modal-large-width;
  }
}
%modal-close-button{
  float: right;
  margin-top: -25px;
  margin-right: -25px;
  cursor: pointer;
  color: $modal-close-button-color;
  border-radius: 50%;
  background: $modal-close-button-background;
  font-size: $modal-close-button-size;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  vertical-align: middle;
  text-align: center;
  &:before{
    content: "×";
  }
}