@include keyframes( opacity-modal-overlay ){
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50%{
    opacity: 0.7;
  }
  100% {
    opacity: 0.8;
  }
}
@include keyframes( scale-modal-container ){
  0% {
    opacity: 0;
    @include transform( scale(0) translateY(-50%) translateX(-50%));
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    @include transform( scale(1) translateY(-50%) translateX(-50%));

  }
}