/////// Configuración por defecto ///////
// Modificar desde _config.scss para sobreescribir los valores
// ------------------------------------------------------------------------------
$font_size:             12 !default;

$heading_1:             46 !default;
$heading_2:             32 !default;
$heading_3:             28 !default;
$heading_4:             18 !default;
$heading_5:             18 !default;
$heading_6:             18 !default;

$small_point_size:      10 !default;
$large_point_size:      14 !default;

$line:                  $font_size * 1.5 !default;

$primary_font_family: #{"Helvetica Neue", Arial, sans-serif} !default;
$secondary_font_family: #{"Helvetica Neue", Arial, sans-serif} !default;
$heading_font_family: #{"Helvetica Neue", Arial, sans-serif} !default;

$icon_font_alpha: #{'ico-fonts'} !default;


// Headings default arguments
$heading_size: $heading_1 !default;
$heading_font_family: $heading_font_family !default;
$heading_font_weight: normal !default;
$heading_color: $primary_header_color !default;


//// !No modificar! ////
$em:          $font_size !default;			// $em SIEMPRE == $font-size
$line_height: #{$line / $em}em !default;