//* Text classes */
%headings_1 {
  @include heading();
}

%headings_2 {
  @extend %headings_1;
  @include text($heading_2);
}

%headings_3 {
  @extend %headings_1;
  @include text($heading_3);
}

%headings_4 {
  @extend %headings_1;
  @include text($heading_4);
}

%headings_5 {
  @extend %headings_1;
  @include text($heading_5);
}

%headings_6 {
  @extend %headings_1;
  @include text($heading_6);
}



%small {
  @include small;
}

%medium {
  @include medium;
}

%large {
  @include large;
}



//* Font family classes */
%primary_font_family {
  font-family: $primary_font_family;
}

%secondary_font_family {
  font-family: $secondary_font_family;
}

%heading_font_family {
  font-family: $heading_font_family;
}



//* Hide Text, Kellum Method */
%hide_text {
  @include hide_text;
}



//* Standard content block styling */
%bulleted_list {
  @include bulleted_list;
}

%content_block {
  @extend %standard_block_spacing;
  float: left;
  @extend %bulleted_list;
}


