/////// Configuración por defecto ///////
// Modificar desde _config.scss para sobreescribir los valores
// ------------------------------------------------------------------------------
$webfont_directory: "/fonts/" !default;
$webfont_font_family: zocial !default;
$webfont-file: zocial-regular-webfont !default;
$webfont_weight: normal !default;
$webfont_style: normal !default;



////////// @font-face builder //////////////
// --------------------------------------------
@mixin font-face($font_family: $webfont_font_family, $font-file: $webfont-file, $font_weight: $webfont_weight, $font_style: $webfont_style, $webfont_directory: $webfont_directory ) {
  font-family: '#{$font_family}';
  font-style: $font_style;
  font-weight: $font_weight;
  src: url('#{$webfont_directory}#{$font-file}.eot');
  src: url('#{$webfont_directory}#{$font-file}.eot?#iefix') format('embedded-opentype'),
         url('#{$webfont_directory}#{$font-file}.woff') format('woff'),
         url('#{$webfont_directory}#{$font-file}.ttf') format('truetype'),
         url('#{$webfont_directory}#{$font-file}.svg##{$font-file}') format('svg');
}



// Para añadir una librería
// -----------------------------------------------------------
//@font-face {
//	@include font-face ($font_family: [name of family], $font-file:  [name of file], $font_weight: [value], $font_style: [value]);
//}

@font-face {
	@include font-face ($font_family: 'ico-fonts', $font-file: 'ico-fonts');
}


// Para añadir Google fonts
// -----------------------------------------------------------
// @import url(http://fonts.googleapis.com/css?family=[name of family]);

/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
