////
/// Message module
/// 
/// @group Messages module
/// @author Ignacio Díaz Rovina
////


///
/// Message module - Functional Imports
/// 
@import "messages/config";
@import "messages/mixins";
@import "messages/extends";


///
/// Message module main class
/// 
/// @name .msg
/// 
/// @example
///   <p class="msg">{test}</p>
///   <p class="msg -valid -large">{test}</p>
///  
/// @since 0.0.1
///  
.msg {
  @extend %message;
  
  // Color modifiers
  &.-error {
    @extend %message--error;
  }
  &.-valid {
    @extend %message--valid;
  }
  &.-warning {
    @extend %message--warning;
  }
  &.-info {
    @extend %message--info;
  }
  
  // Size modifiers
  &.-small {
    @extend %message--small;
  }
  &.-large {
    @extend %message--large;
  }
  &.-xlarge {
    @extend %message--xlarge;
  }
}

///
/// Message module - Error variant class
/// 
/// @name .msg-error
/// 
/// @example
///   <p class="msg-error">{test}</p>
///  
/// @since 0.0.1
///  
 .msg-error{
   @extend %message;
   @extend %message--error;
   @extend %message--large;
 }

///
/// Message module - Fixed variant class
///
/// @name .msg-fixed
///
/// @example
///   <p class="msg-fixed">{test}</p>
///
/// @since 0.0.1
///
 .msg-fixed {
   @extend %message;
   @extend %message--fixed;

   // Color modifiers
   &.-error {
     @extend %message--error;
   }
   &.-valid {
     @extend %message--valid;
   }
   &.-warning {
     @extend %message--warning;
   }
   &.-info {
     @extend %message--info;
   }
 }

