$selected-tab-color:#06a9df;
$tab-color:#d5d5d5;
$selected-text-color:$white;
.tablist-header{
    .tablist-tab{
      padding: 6px;
      display: inline-block;
      background:$tab-color;
      cursor: pointer;
      &.st--selected{
        background:$selected-tab-color;
        color: $selected-text-color;
      }
    }
}
.tablist-body{
  padding: 7px 5px;
  border: 5px solid #05a9de;
  .list-item{
    line-height: 1.5em;
  }
}
.tablist-actions{
  margin-top: 0.7em;
}