////
/// Placeholders para el módulo de 'messages'
/// 
/// @group Messages module
/// @author Ignacio Díaz Rovina
////


///
/// Placeholder principal del módulo de mensajes.
/// Los módulos de mensaje deben extender de este placeholder.
/// 
/// @example
///   .m-msg{
///   	@extend %message;
///   }
///
%message {	
  	padding: $msg-size-m + rem;
	margin-bottom: $msg-size-m + rem;
	border: 1px solid;
	border-radius: 3px;
	font-size: $msg-font-m + rem;
	color: $msg-color;
	border-color: lighten($msg-color, 20%);
	background: lighten($msg-color, 40%);
	
	&:hover {
	  opacity: 0.75;
	}
}

/// 
/// Placehorder para mensajes de error
/// 
%message--error{
	@include _set_message_color(error);
}
/// 
/// Placehorder para mensajes satisfactorios
/// 
%message--valid {
	@include _set_message_color(valid);
}
/// 
/// Placehorder para mensajes de aviso
/// 
%message--warning{
	@include _set_message_color(warning);  
}
/// 
/// Placehorder para mensajes de información
/// 
%message--info{
	@include _set_message_color(info);
}

///
/// Placehorder para mensajes pequeños
///  
%message--small {
	@include _set_message_size(s);
}
///
/// Placehorder para mensajes grandes
///  
%message--large {
	@include _set_message_size(l); 
}
///
/// Placehorder para mensajes muy grandes
///  
%message--xlarge {
	@include _set_message_size(xl);
}

%message--fixed {
  @include _set_message_fixed();
}