////
/// Mixins para el módulo de 'messages'
/// 
/// @group Messages module
/// @author Ignacio Díaz Rovina
////


///
/// Crea las propiedades de color del mensaje a partir del tipo informado
/// 
/// @access private
/// @param {string} $type - Tipo del mensaje [error/warning/...]
/// @example
///   @include _set_message_color(error);
///   @include _smc(info);
///  
/// @output Propiedades que afectan al color del mensaje  
///
/// @author Ignacio Díaz Rovina
/// @since 0.0.1
/// 
@mixin _set_message_color($type) {
	// Recuperamos el color asociado al tipo
	$color: map-get($message-color-by-type, $type);

	color: $color;
	border-color: lighten($color, 20%);
	background: lighten($color, 40%);
}
///
/// @alias _smc 
///
@mixin _smc($type) { @include _set_message_color($type); }

///
/// Crea las propiedades de tamaño del mensaje a partir del tipo informado
/// 
/// @access private
/// @author Ignacio Díaz Rovina
///  
/// @param {string} $type
///  
/// @example
///   @include _set_message_size(s);
///   @include _sms(xl);
///  
/// @output Propiedades que afectan al tamaño del mensaje  
///
/// @since 0.0.1
/// 
@mixin _set_message_size($size) {
	// Recuperamos el tamaño del mensaje
	$_size: map-get($message-size, $size);

	// Reciperamos el tamaño de fuente del mensaje
	$_font_size:  map-get($message-font-size, $size);

	padding: $_size + rem;
	margin-bottom: $_size + rem;
	font-size: $_font_size + rem;
}
///
/// @alias _sms 
/// 
@mixin _sms($type) { @include _set_message_size($size); }

///
/// Permite crear mensajes fijos en la parte superior del viewport
///
/// @access private
/// @author Ignacio Díaz Rovina
///
/// @example
///   @include _set_message_fixed(s);
///   @include _sms(xl);
///
/// @output Propiedades que afectan al tamaño del mensaje
///
/// @since 0.0.1
///
@mixin _set_message_fixed($top: 90%) {
  position: fixed;
  width: $top;
  top: 0;
  left: 5%;
}
///
/// @alias _smf
///
@mixin _smf($top: 90%) { @include _set_message_fixed($top); }